@import "../../../../theme/partials/mixins";
@import "../../../../theme/partials/variables";

.RaisedButton {

  @include elevation(2);
  font-size: .8rem;
  color: white;

  &.Accent {
    background-color: $accent;
  }

  &.Warn {
    background-color: $warn;
  }

  &.Primary {
    background-color: $primary;
  }

  transition: background-color 0.15s ease-in-out;

  &:hover,
  &:focus {

    @include elevation(5);

    &.Accent {
      background-color: lighten($accent, 5);
    }

    &.Warn {
      background-color: lighten($warn, 5);
    }

    &.Primary {
      background-color: lighten($primary, 5);
    }
  }
}