@import "../../../../theme/partials/mixins";

.RaisedButton {

  padding: 8px 16px;
  border-radius: 4px;
  @include elevation;
  font-size: .8rem;
  color: white;

  &.Accent {
    background-color: var(--accent);
  }

  &.Warn {
    background-color: var(--warn);
  }

  &.Primary {
    background-color: var(--primary);
  }
}