@import "../../../../theme/partials/mixins";
@import "../../../../theme/partials/variables";

.RaisedButton {

  padding: 8px 16px;
  border-radius: 4px;
  @include elevation;
  font-size: .8rem;
  color: white;

  &.Accent {
    background-color: $accent;
  }

  &.Warn {
    background-color: $warn;
  }

  &.Primary {
    background-color: $primary;
  }

  transition: all 0.15s ease-in-out;

  &:hover,
  &:active,
  &:focus {

    &.Accent {
      background-color: lighten($accent, 22);
    }

    &.Warn {
      background-color: lighten($warn, 22);
    }

    &.Primary {
      background-color: lighten($primary, 22);
    }
  }
}