.Login {

  width: 340px !important;
  

  .ProfilePic {

    $cardPadding: 14px;
    $iconSize: 70px;
    $padding: 2px;

    width: #{$iconSize + ($padding * 2)};
    margin-top: calc((#{-($iconSize + ($padding * 2))} / 2) - #{$cardPadding});
    padding: $padding;
    text-align: center;
    background: white;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;

    i {
      font-size: 5rem;
      width: $iconSize !important;
    }
  }

  .Remember {
    max-width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
}