.Login {
  
  .Remember {
    max-width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  .OtherLogin {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }
}