@import "../../theme/partials/mixins";

.AuthPage {
  background-image: url(../../assets/images/backgrounds/mountain-1.jpeg);
  background-image: url(../../assets/images/backgrounds/mountain-2.jpeg);
  // background-image: url(../../assets/images/backgrounds/mountain-3.jpeg);
  
  @include size(100vw, 100vh);

  &.CenterContent {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // animation: changeBackground 5s ease-in-out infinite; 
}

// @keyframes changeBackground {
//   0% {  filter: grayscale(0); }
//   50% {  filter: grayscale(1); }
//   100% {  filter: grayscale(0); }
// }