@import "../../../theme/partials/variables";

.Button {
  font-family: $font-family;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;

  &:active,
  &:focus,
  &:hover {
    outline: none;
  }
}